.md body {
    --ion-background-color: #684A61;
}

.card-footer {
    background-Color: #684A61;
    border-radius: 30px;
}

.btn-back {
    margin-left: 25px;
}

.btn-next {
    margin-left: 75px;
}

p.quiz {
    color: black;
    margin-left: 10px;
    font-size: 22px;
}



.img-answer {
    width: 100%;
}

.bg-quiz {
    width: 60px;
    background-color: gray;
    border-radius: 5px;
    padding: 10px;
    margin: 15px;
}

.wrap {
    display: flex;
    padding: 10px;
    margin-top: 0px;
}

.img-backarrow {
    width: 20%;
    margin-top: 10px;
    margin-left: 10px;
}

.select-answer.select-answer {
    margin-top: 80px;
}